name: Terraform Deployment

on:
    pull_request:
    push:
      branches:
        - main  # change to your default branch if different

jobs:
    terraform-check:
      name: Terraform Format Check
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v3

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            role-to-assume: arn:aws:iam::440423668970:role/GithubActionsRole
            aws-region: us-east-1
  
        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v2
  
        - name: Terraform fmt check
          run: terraform fmt -check -recursive
  
    terraform-plan:
      name: Terraform Plan
      runs-on: ubuntu-latest
      needs: terraform-check
      steps:
        - name: Checkout repository
          uses: actions/checkout@v3

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            role-to-assume: arn:aws:iam::440423668970:role/GithubActionsRole
            aws-region: us-east-1

  
        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v2
  
        - name: Terraform init
          run: terraform init
  
        - name: Terraform plan
          run: terraform plan
  
    terraform-apply:
      name: Terraform Apply
      runs-on: ubuntu-latest
      needs: terraform-plan
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      steps:
        - name: Checkout repository
          uses: actions/checkout@v3

        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v4
          with:
            role-to-assume: arn:aws:iam::440423668970:role/GithubActionsRole
            aws-region: us-east-1
  
        - name: Setup Terraform
          uses: hashicorp/setup-terraform@v2
  
        - name: Terraform init
          run: terraform init
  
        - name: Terraform apply
          run: terraform apply -auto-approve
